# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
papermill
ipykernel
azure-functions-durable
numpy
pandas
matplotlib
scikit-learn
nbconvert==6.4.2
jupyter-client==7.1.2
